plugins:
  - name: PluginA      
    enabled: true
    path: ./plugins_test/pluginA_v1  # Explicit path

  - name: PluginC
    enabled: true

  - name: PluginB
    enabled: true      # No path - auto-resolve to plugin_package/PluginB

  - name: NetTest
    enabled: true




general:
    hostname: ""
    plugin_package: plugins_test  # Base directory for plugins if path is omitted
    console_log_level: "INFO"


networking:
    enabled: False
    node_ips: 
      - "172.23.0.12"
      - "172.23.0.18"
      - "172.23.0.24"
      - "172.23.0.98"
    port: 2510
    discover_nodes: True
    direct_discoverable: True
    auto_discoverable: True